# Flutter
.dart_tool/
.packages
.pub/
build/
*.iml
.idea/
.vscode/
*.lock

# OS
.DS_Store
Thumbs.db

# IDE
*.swp
*.swo
*~

# Go
server/server
server/*.exe
server/vendor/
server/*.test
server/*.out
server/tmp/
